<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiangesoft.category.dao.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.qiangesoft.category.domain.Category">
    <id column="CategoryId" jdbcType="INTEGER" property="categoryId" />
    <result column="CategoryName" jdbcType="VARCHAR" property="categoryName" />
    <result column="Description" jdbcType="VARCHAR" property="description" />
    <result column="OrderId" jdbcType="INTEGER" property="orderId" />
    <result column="IsDelete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    CategoryId, CategoryName, Description, OrderId, IsDelete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from category
    where CategoryId = #{categoryId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from category
    where CategoryId = #{categoryId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qiangesoft.category.domain.Category">
    insert into category (CategoryId, CategoryName, Description, 
      OrderId, IsDelete)
    values (#{categoryId,jdbcType=INTEGER}, #{categoryName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{orderId,jdbcType=INTEGER}, #{isDelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qiangesoft.category.domain.Category">
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        CategoryId,
      </if>
      <if test="categoryName != null">
        CategoryName,
      </if>
      <if test="description != null">
        Description,
      </if>
      <if test="orderId != null">
        OrderId,
      </if>
      <if test="isDelete != null">
        IsDelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qiangesoft.category.domain.Category">
    update category
    <set>
      <if test="categoryName != null">
        CategoryName = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        Description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        OrderId = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        IsDelete = #{isDelete,jdbcType=INTEGER},
      </if>
    </set>
    where CategoryId = #{categoryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qiangesoft.category.domain.Category">
    update category
    set CategoryName = #{categoryName,jdbcType=VARCHAR},
      Description = #{description,jdbcType=VARCHAR},
      OrderId = #{orderId,jdbcType=INTEGER},
      IsDelete = #{isDelete,jdbcType=INTEGER}
    where CategoryId = #{categoryId,jdbcType=INTEGER}
  </update>
</mapper>